body{
    background-color:black;
}
#title{
    display: inline-block;
    font-family: cursive;
    color: azure;
    text-align: center;
    margin-left: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 40px;
}
#writers{
    color: azure;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;


}
#header-img2{
    position: absolute;
    right: 0px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cyan;
}
  
li {
  float: left;
}
  
  li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:deeppink;
  }

  .user-label{
      color:aliceblue
  }

  #footer{
      background-color: cyan;
      text-align: center;
      font-size: 20px;
  }


  input[type=button]{
        
    height: 50px;
    width: 250px;
  }

  input[type=button]:hover{
    box-shadow: 0 0 0 5px white;
  }


/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=birthday] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center;
}
  
  .container {
    padding: 16px;
    background-color: grey;
    font-size: x-large;
    text-align: center;
  }

  .AlredySignin, .Unregistered {
    padding: 1px;
    background-color: #f1f1f1;
    text-align: center;
    font-size: large;
    
  }
  input:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}